.input-text {
    min-height: 40px;
    @apply rounded-sm shadow-sm w-full py-2 px-3 text-[14px];
    background: transparent;
    color: #fff;
    border: solid 1px #35466d;
    margin-bottom: 0.5rem;
}

.input-invoice {
    height: 40px;
    min-height: 40px;
    // min-width: 85px;
    //border-radius: 0;
}

.material-input {
    border-radius: 0;
}

.input-text:active,
.input-text:focus {
    outline: none !important;
}

.input-text-noborder {
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: solid 1px;
    border-color: #6248A1FF;
    padding-left: 0 !important;
}

.input-text-noborder:active,
.input-text-noborder:hover,
.input-text-noborder:focus {
    outline: 0;
    outline-offset: 0;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: 0;
    padding-left: 0;
    outline: none !important;
    --tw-ring-color: none !important
}

.input-textarea {
    @apply rounded-md border-[#35466d] shadow-sm w-full py-2 px-3 focus:border-[#1b2a40] focus:ring-indigo-500 text-[14px];
    height: 100px;
    background-color: transparent !important;
    margin-bottom: 1rem;
}

.form-error {
    @apply text-[11px] text-red-500 absolute;
}

.autocomplete {
    border: solid 1px;
    border-color: rgb(209, 213, 219);
    //background: #eef2f8;
    background: #fff;
    //top: 59px;
    padding: 7px 10px;
    //font-weight: bold;
    z-index: 999;
    font-size: 13px;
    width: 100%;
    border-radius: 0;
}

.no-border {
    border: none !important;
}

.icon-input {
    padding-left: 30px !important;
}

.inline-label {
    text-align: right;
    width: 100%;
    display: inline-block;
    padding-right: 10px;
    color: #fff;
}

.asterisk {
    color: red;
}

.percent-price {
    position: absolute;
    right: 4px;
    top: 1px;
    font-weight: bold;
    font-size: 12px;
    color: palevioletred;
}

.btn-qty-minus,
.btn-qty-plus {
    @apply py-1 px-4 text-center text-sm text-white bg-gradient-to-r from-[#b44dd6] to-[#7974e3];
    min-width: 40px;
    max-width: 40px;
}

// .btn-qty-plus {
//     @apply rounded-md rounded-l-none bg-slate-800 py-1 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700
//         active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none h-[33px] w-[50px];
//     background-image: linear-gradient(to left top, #484f52, #0f6d8f) !important;
// }
.qty {
    border-radius: 0;
    width: 80px;
    background-color: transparent;
    color: #fff;
    height: 40px;
    padding: 0 10px;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background: transparent;
    color: #fff;
    border: solid 1px #35466d;
}

.price {
    width: 100px !important;
    text-align: center;
    border-radius: 5px;
}

.w-total {
    width: 150px !important;
    text-align: center;
}

.w-product {
    width: 500px !important;
    text-align: center;
}

.w-unit {
    width: 100px !important;
}

.factqty {
    width: 120px !important;
    border: solid 1px #35466d;
    ;
    border-radius: 0.125rem;
    height: 40px;
    padding: 0 10px;
}

//.w-unit {
//    width: 350px !important;
//}
.w-btns-block {
    width: 200px !important;
    text-align: center;
}

.w-btn {
    width: 50px !important;
    text-align: center;
}

.i-number {
    max-width: 225px;
}

.row-invoice-error {
    font-size: 12px;
    color: red;
    font-weight: bold;
    background: #f3c69e;
    padding: 5px;
    border-radius: 4px;
}

.disabled-content {
    pointer-events: none;
    opacity: 0.5;
    background-color: #f2f2f2;
    color: #999;
    cursor: not-allowed;
}

.rc-time-picker-input {
    min-height: 37px;
    height: 37px !important;
    border-color: rgb(209, 213, 219) !important;
    font-size: 14px !important;
    //@apply rounded-md border-gray-300 shadow-sm w-full py-1
    //focus:border-indigo-500 focus:ring-indigo-500 text-[14px];
}

.MuiModal-root {
    display: none !important;
}

.color-control {
    padding-left: 30px;
}

.color-palette {
    background-image: url(../../images/action-icons/color-palette.svg);
    background-repeat: no-repeat;
    width: 17px;
    height: 16px;
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 999;
    cursor: pointer;
}

.color-picker-icon {
    z-index: 999;
    width: 17px;
    height: 16px;
    position: absolute;
    left: 10px;
    top: 12px;
    background: whitesmoke;
}

.dropzone p {
    margin-top: 0 !important
}

.form-awasom-icons {
    @apply absolute top-[10px] left-[10px];
    z-index: 999;
    color: #b2b5b8;
}

.patient-form-left {
    @apply w-1/2 inline-block;
    border: solid 1px;
    min-height: 300px;
}

.patient-form-right {
    @apply w-1/2 inline-block;
    border: solid 1px;
    min-height: 300px;
}

.input-radio {
    width: 14px;
    height: 14px;
    min-height: inherit !important;
}

.radio-gender-icon {
    color: rgb(127, 127, 127);
    padding-left: 4px;
}

.f-24 {
    font-size: 24px;
}

.inputfile+label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

input[type="file"]::file-selector-button {
    //background-color: #760fe5 !important;
    background-image: linear-gradient(to left top, rgb(217, 192, 245), rgb(144, 11, 154)) !important;
    width: 90px !important;
    height: 40px !important;
    color: #fff !important;
    border-radius: 4px !important;
}

.preview-photo {
    width: 197px;
    height: 244px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

.preview-photo {
    width: 197px;
    height: 244px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

.material-preview {
    width: 255px;
    height: 255px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

.material-preview .preview-photo {
    width: 255px;
    height: 255px;
}

.upload-patient-btn-block {
    // border: solid 1px;
    display: inline-block;
}

.upload-product-btn-block {
    // border: solid 1px;
    display: inline-block;
    width: 255px;
    height: 255px;
}

[type="text"]:focus,
[type="text"]:active {
    outline: none !important;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #fff !important
}

.overlay-bg-popup {
    background: #080b12;
    width: 100%;
    height: 2000px;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
}

label.float-label {
    color: rgba(0, 0, 0, 0.6);
    font-family: "Manrope", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    left: 0px;
    top: 0px;
    transform-origin: left top 0px;
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1), transform 200ms cubic-bezier(0, 0, 0.2, 1), max-width 200ms cubic-bezier(0, 0, 0.2, 1);
    z-index: 1;
    user-select: none;
    pointer-events: auto;
    max-width: calc(133% - 32px);
    transform: translate(14px, -9px) scale(0.75);
    background: #fff;
    padding: 0px 5px;
    font-size: 19px;
    color: black;
}

.discount-select {
    border: none;
    font-size: 12px;
}

.discount-input {
    width: 30px;
    padding: 3px;
    font-size: 12px;
    text-align: center;
    border: none;
}

.input-report-date {
    width: 120px;
}

.input-report-store {
    width: 200px;
}

.dark-form label {
    color: #01bffb !important;
    padding-bottom: 4px;
}

.dark-form .input-text {
    background: none !important;
    color: white !important;
    border: solid 1px #01bffb !important;
}

.dark-form .btn-submit {
    @apply bg-gradient-to-r from-[#b44dd6] to-[#7974e3];
}

.w-unit {
    height: 40px;
}

.input-label {
    @apply block text-sm font-medium text-white;
    margin-bottom: 8px;
    font-size: 14px;
}

.role-label {
    color: #fff;
}

.role-name-head {
    @apply font-medium text-lg mb-3 capitalize;
    color: #01bff8 !important;
    font-weight: bold !important;
    text-align: left
}

.permission-block {
    @apply rounded p-6;
    background: #1a2235;
}

.permission-checkbox {
    @apply rounded;
    background: transparent;
    border-color: #01bff8;
}

.input-inv-group {
    margin-top: -8px !important;
}

.service-item {
    text-align: left;
    color: #fff;
    font-family: 'Roboto', Courier, monospace;
    font-size: 14px;
    ;
}

.services-block {
    border: solid 1px #35466d;
    background-color: #0f1525;
}

.title-service {
    text-align: left;
    color: #a486f0;
    font-family: 'Montserrat', Courier, monospace;
    font-size: 14px;
    display: inline-block;
    width: 100%;
    padding-left: 10px;
    font-weight: bold;
}

.product-photo {
    width: 255px;
    height: 255px;
    background-size: cover !important;
    background-position: center !important;
    border: solid 3px #ab7ac1;
    background-repeat: no-repeat;
}