body {
  background: linear-gradient(135deg, #0a0f1c 0%, #1c2733 100%);
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
  //   background: #0a0f1c;
  position: relative;
  background: linear-gradient(#465887, #0a0f1c) padding-box,
    linear-gradient(135deg, #b74bd5, #00c6ff) border-box;
  box-shadow:
    0 0 20px rgba(183, 75, 213, 0.6),
    0 0 40px rgba(0, 198, 255, 0.4);
  z-index: 100;
  //   box-shadow: 0 2px 20px rgba(183, 75, 213, 0.2);
}

/* Тонка градієнтна лінія зверху */
.top-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, #b74bd5, #00c6ff, #ff3eb5);
  box-shadow: 0 0 15px rgba(183, 75, 213, 0.7),
    0 0 25px rgba(0, 198, 255, 0.6);
}

// .top-header {


//     // background: #6d6b6f !important;
//     //background-image: linear-gradient(to left top, rgb(72, 4, 62), rgb(223, 44, 134)) !important;
//     // background-image: linear-gradient(to left top, #0e3446, #4c8ea6) !important;

//     //background-image: linear-gradient(to left top, #1b3c53, #c887d7) !important;
//     //background-image: linear-gradient(to left top, #1b3c53, #c887d7) !important;
// }
.bg-header {
  background: linear-gradient(135deg, #0a0f1c 0%, #1c2733 100%);
  font-family: "Montserrat", sans-serif !important;
}

.header-fixed {
  position: fixed;
  font-weight: bold;
  width: 100%;
  // background: white;
  z-index: 9999;
  //top: 0;
}

.gradient-text-h {
  background: linear-gradient(90deg, #00BFFF, #32CD32);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 3rem;
  /* регулируй по необходимости */
  font-family: 'Montserrat', sans-serif;
  font-size: 20px !important;
}

.mons-text {
  font-family: 'Montserrat', sans-serif;
}

.top-menu-nav {
  @apply block md:inline-flex md:items-center;
  color: #fff;
  font-weight: normal;
  margin-right: 10px;
}

.logo-title-new {
  font-family: "Pacifico", cursive;
  color: #f3f2f6;
  //position: absolute;
  //left: 20px;
  white-space: nowrap;
  top: 0;
  font-size: 44px;
  letter-spacing: 1px;
  font-weight: 900;
  @apply hidden md:inline-block;
}

.logo-m-new {
  padding-left: 45px;
  margin-top: 10px;
}

.logo-title-main {
  font-family: "Pacifico", cursive;
  color: #d6d1e3;
  //position: absolute;
  left: 20px;
  white-space: nowrap;
  top: 0;
  font-size: 44px;
  letter-spacing: 1px;
  font-weight: 900;
  @apply hidden md:inline-block;
}

.logo-title {
  font-family: "Roboto", cursive;
  color: #FFF;
  //position: absolute;
  //left: 20px;
  white-space: nowrap;
  top: 0;
  font-size: 22px;
  letter-spacing: 1px;
  //font-weight: 900;
  @apply hidden md:inline-block;
}

.logo-title-main {
  margin-left: 5px;
  margin-top: -10px;
  //left: 107px;
  //left: calc(50% - 112px);
  //color: #fff;
  //white-space: nowrap;
  //top: 175px;
  font-size: 40px;
}

/*.top-menu {*/
/*    padding-left: 110px;*/
/*}*/
.logo-title-p {
  @apply text-orange-700;
}

.top-gradient {
  @apply absolute -top-44 h-40 w-[36rem] transform-gpu md:right-20 rotate-[-10deg] rounded-full blur-3xl;
  background: linear-gradient(115deg, #fff1be 28%, #ee87cb 70%, #452596 100%);
}

.logo {
  max-height: 50px;
}

.logo-main {
  //position: absolute;
  //top: 75px;
  //width: 350px;
  height: auto;
  margin: 0 auto;
  //left: calc(50% - 185px);
}

.logo-invite {
  width: 200px;
}

.logo-reg {
  position: absolute;
  top: 0;
  left: -14px;
  height: 30px;
  //background: url("../../images/header/logo-t.svg");
  background: url("../../images/new-diz/logo-e.png");
  background-repeat: no-repeat;
  //border: solid 1px;
  width: 140px;
  background-size: contain;
}

.submenu {
  @apply block px-4 py-2 text-sm text-white data-[focus]:bg-gray-100 data-[focus]:text-gray-900 data-[focus]:outline-none text-sm;
  font-weight: normal;
  border-radius: 0;
}

.nav-content {
  position: absolute;
  // top:-15px;
  right: 0;
}

.menu-main-btn {
  //border: solid 1px red;
}

.menu-main-btn,
.menu-main-btn:active,
.menu-main-btn:visited,
.menu-main-btn:focus {
  outline: none !important;
}

.truncate {
  //background: #f4eddf; /* Цвет фона */
  //padding: 10px; /* Поля вокруг текста */
  white-space: nowrap;
  /* Текст не переносится */
  overflow: hidden;
  /* Обрезаем всё за пределами блока */
  text-overflow: ellipsis;
  /* Добавляем многоточие */
  max-width: 105px;
  height: 15px;
  //display: contents;
  display: inline-block;
}

.user-profile-role {
  @apply block text-left normal-case font-bold text-[10px];
  color: #fff;
}

.lng-menu {
  background: transparent !important;
}

.top-submenu {
  background: #232e49;
  color: #fff !important;
}

to-green-400 {
  --tw-gradient-to: #4ade80 var(--tw-gradient-to-position);
}

.neon-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
  //   background: rgba(10, 15, 28, 0.6); /* напівпрозорий фон */
  background: rgb(26 39 71 / 60%);
  backdrop-filter: blur(12px);
  /* ефект скла */
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(90deg, #b74bd5, #00c6ff, #ff3eb5) 1;
  box-shadow: 0 0 20px rgba(183, 75, 213, 0.25),
    0 0 40px rgba(0, 198, 255, 0.2);
  position: relative;
  //   background: #0a0f1c;
  //   position: relative;
  //   z-index: 100;
  //   box-shadow: 0 2px 20px rgba(183, 75, 213, 0.2);
}

.neon-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, #b74bd5, #00c6ff, #ff3eb5);
  box-shadow: 0 0 15px rgba(183, 75, 213, 0.7),
    0 0 25px rgba(0, 198, 255, 0.6);
}

.neon-header nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.neon-header nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  position: relative;
  transition: 0.3s;
}

/* Неон підсвітка при ховері */
.neon-header nav ul li a:hover {
  color: #00c6ff;
  text-shadow: 0 0 10px #00c6ff,
    0 0 20px #b74bd5;
}

/* Підкреслення неоном */
.neon-header nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #b74bd5, #00c6ff);
  transform: scaleX(0);
  transition: transform 0.3s ease;
  box-shadow: 0 0 8px rgba(183, 75, 213, 0.8);
}

.neon-header nav ul li a:hover::after {
  transform: scaleX(1);
}

.dropdown-menu {
  background: #10172c;
  color: #fff;
}

.selected-lang {
  color: #fff;
  text-transform: uppercase;
}

.slogan {
  @apply text-xs text-white mt-1;
  font-family: "Marck Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.reg-btn {
  @apply text-sm font-semibold px-4 py-2 rounded-md bg-gradient-to-r from-cyan-400 to-green-400 text-slate-900;
  font-family: "Marck Script", cursive;
  font-size: 20px;
}

.hlogin-btn {
  @apply text-sm text-slate-300 px-3 py-2 rounded-md rounded-lg bg-gradient-to-r from-[#b44dd6] to-[#7974e3] text-white font-bold;
}

.lang-block {
  @apply space-x-8 sm:-my-px sm:flex md:flex md:mt-[-8px] relative md:mr-[150px] pt-[10px];
}

.body-main .lang-block {
  @apply md:mr-[30px]
}

.profile-top-btn {
  @apply inline-flex items-center px-2 text-sm font-medium leading-4;
  text-align: left;
}

.clinic-role {
  text-transform: uppercase;
  color: #f345b9;
}