.action-patient-icon {
    // border: solid 1px;
    .svg-inline--fa {
        color: #29425e;
    }
}
.patient-left {
    padding-left: 0;
    padding-top: 0;
    border: solid 1px;
}
.patient-right {
    padding-right: 0;
    border: solid 1px;
}

.patient-item {
    margin-bottom: 5px;
    // box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.03);
    border-radius: 5px !important;
    border:solid 1px #392169;
    background-color: #445386;
    display: flex;
    padding: 7px 5px;
    color: white;
}
.phone-patient {
    font-style: normal;
    display: block;
    font-size: 11px;
    margin-left:10px;
}
.icon-block {
    display: inline-block !important;
    margin-top: 10px;
    color: #29425e;
}
.patient-stage {
    border-left-color: #29425e;
    border-width: 3px;
    border-top: solid 1px #d2cfcf;
    border-radius: 5px;
    border-bottom: solid 1px #d2cfcf;
    border-right: solid 1px #d2cfcf;
    width: 100%;
    min-height: 50px;
    padding: 20px;
    padding-bottom: 5px;

}
.patient-view-border {
    background: #445386;;
    border-left-color: #9462dd;
    border-width: 3px;
    border-top: solid 1px #48a0ea;
    border-radius: 5px;
    border-bottom: solid 1px #48a0ea;
    border-right: solid 1px #48a0ea;
    width: 100%;
    height: 100px;

    img {
        height: 95px;
        width: auto;
        padding-left:5px;
    }

    .icon-block {
        position: absolute;
        top: 0;
        right: 0;

        ul li {
            list-style: none;
            display: inline;
            margin-right: 20px;
        }
    }
    .tabs-block {
        position: absolute;
        right: 10px;
        bottom: 10px;

        li {
            list-style: none;
            display: inline;
            padding-right: 10px;
            padding-left: 10px;
            font-size: 14px;
            padding-bottom: 11px;
            cursor: pointer;
            color: #fff;
        }
        li.active {
            border-bottom: solid 4px;
            border-color: #9462dd;
        }
    }
}
.sub-tab {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #445386;
    color: #fff;
    border-radius: 5px;

    li {
        list-style: none;
        display: inline;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 14px;
        padding-bottom: 11px;
        cursor: pointer;
    }
    li.active {
    }
}
.profile-photo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 94px;
    background-image: url(../../images/patients/patient-avatar.jpg);
    margin-top: 2px;
    margin-left: 2px;
}
.parient-info {
    padding-left: 20px;
    margin-top: 25px;
}
.patient-content-border {
    border-left-color: #29425e;
    border-width: 3px;
    border-top: solid 1px #d2cfcf;
    border-radius: 5px;
    border-bottom: solid 1px #d2cfcf;
    border-right: solid 1px #d2cfcf;
    padding: 10px;
}
// .action-block li {
//     width: 100%;
// }
.tabs li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
    padding-bottom: 11px;
    cursor: pointer;
    border-bottom: solid 2px;
    border-color:#fff;
    margin: 0 3px;
}
.tabs li.active {
    border-color: #29425e !important;
    border-bottom: solid 2px;
    margin: 0 3px;
}
.patient-avatar {
    width: 197px;
    height: 244px;
    background-size: cover !important;
    background-position: center !important;
    border: solid 3px #ab7ac1;
    background-repeat: no-repeat;
}
.p-photo {
    width: auto;
    height: 60px !important;
    border-radius: 50%;
}
.sch-p-photo {
    width: auto;
    height: 30px !important;
    border-radius: 3px;
}
.text-kt {
    color: #ef8551;
    font-weight: bold;
}
.text-dt {
    color: #87f157;
    font-weight: bold;
}
.text-debt {
    color: #FFF;
    font-weight: bold;
    font-size: 15px;
}
.p-dept {
    // border: solid 1px #e00fb5;
    background: #ac52d7;
    padding: 2px;
    color: white;
}
.p-discount {
    font-weight: bolder;
    color: #f76ab0;
}
.p-pricing {
    max-height: 600px;
    overflow: hidden;
    overflow-y: scroll;
}
.stage-input input[type="text"]
{
    border: solid 1px #fff;
    outline: none;
    background: transparent;
}
.stage-input input[type="text"]::placeholder
{
    color: #fff;
}
.stage-input input[type="text"]:focus
{
    border: solid 1px #9462dd;
}
.stage-input input[type="text"]:hover
{
    border: solid 1px #9462dd;
}
.white-view {
    background: #ffffff;
    border-left-color: #9462dd;
}
.stage-formula {
    border-color: #48a0ea;
    border-left-color: #9462dd;

}
.text-p-name {
    color: #fff;
}
.p-phone {
    @apply text-white block text-[11px];
}
.discount-patient {
    @apply text-white block text-[11px];
    display: block;
    padding-left: 10px;
    font-size: 16px;
    background-color: #9065de;
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px;
    padding-right: 5px;
    font-weight: bold;
    // background-color: #ab7ac1;
}
.p-abbr {
    @apply bg-white text-[#445386];
}
.patient-item {
    position: relative;
}
.bg-discount {
    border-color: #aa54d8;
}