.css-ynh6fk .rs__cell.rs__time {
    z-index: 10 !important;
}
.css-1cpvlp1 {
    z-index: 10 !important;
}
.add-patient {
    display: inline-block;
    background-image: url("../../images/scheduler/add-patient.svg");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 14px;
    top: 28px;
    z-index: 44;
}
.scheduler-status {
    z-index: 99 !important;
}

.schedule-status-circle {
    border-color: white;
    border-width: 3px;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 5px;
    //background-color: palevioletred;
}
.css-1mrufi {
    z-index: 30 !Important;
}

.patients-data {
    background: #fff;
    border-left-color: #29425e;
    border-width: 3px;
    border-top: solid 1px #d2cfcf;
    border-radius: 5px;
    border-bottom: solid 1px #d2cfcf;
    border-right: solid 1px #d2cfcf;
    width: 100%;
    height: 100px;

    img {
        height: 95px;
        width: auto;
        padding-left:5px;
    }

    .icon-block {
        position: absolute;
        top: 0;
        right: 0;

        ul li {
            list-style: none;
            display: inline;
            margin-right: 20px;
        }
    }
    .tabs-block {
        position: absolute;
        right: 10px;
        bottom: 10px;

        li {
            list-style: none;
            display: inline;
            padding-right: 10px;
            padding-left: 10px;
            font-size: 14px;
            padding-bottom: 11px;
            cursor: pointer;
        }
        li.active {
            border-bottom: solid 4px;
            border-color: #29425e;
        }
    }
}
.me-2 {
    white-space: nowrap;
    padding-bottom: 10px;
}
.sh-p-tabs {
    max-width: 1000px;
    min-width: 100%;
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    margin-bottom: 10px;
    scrollbar-color: #d5c2f1 #e8e5e0;
    scrollbar-width: thin;
}
.sh-p-tabs a {
    color: #0a3622;
    display: inline-block;
    padding: 8px;
    background: #f3ecfd;
    border-radius: 4px 4px 0 0;
    font-size: 12px;
}
.rbc-btn-group {
    font-size: 12px;
    font-weight: bold;
}
.date-picker {
    font-size: 12px;
    background: #fff;
    border-color: #d5c2f1;
    padding: 4px;
    border-radius: 4px;
}
.rbc-timeslot-group {
    min-width: 78px;
}
.rbc-time-slot {
    text-align: center !important;
    font-weight: bold !important;
    font-size: 13px;
}
.disabled-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    background: palevioletred;
    z-index: 80;
}
.form-scheduler {
    position: absolute;
    top: 15%;
    left:29%;
    //background: palevioletred;
    z-index: 20;
    min-width: 560px;
    min-height: 560px;
}
.rbc-event {
    font-size: 12px;
    padding: 0 !important;
}
.rbc-toolbar-label, .rbc-button-link {
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    color: #5b28e3;
}
.manipulation {
    color: #424d71;
    cursor: pointer;
}
.add-services {
    color: #424d71;
}
.price-popup {
    //position: fixed;
    //top: 30px;
    //left: 22%;
}
.pricing-block {
}
.bg-price {
    height: 300px;
    max-height: 300px;
}
.price-container {
    margin-bottom: 30px;
}
.add-minpulation-row {
    cursor: pointer;
}
.add-minpulation-row.selected .price-row{
    background: #032f62;
    color: #fff;
}
.d-patient-list {
    font-size: 13px;
    background: #fff;
    position: absolute;
    width: 100%;
    z-index: 999;
    border: solid 1px #c9bfbf;
    top: 57px;
    padding: 5px;

    li {
        padding-bottom: 4px;
        padding-left: 10px;
        cursor: pointer;
    }
}
.hover-event-popup {
    background: #fff;
    font-size: 12px;
    text-align: left;
}
.hover-event-title {
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    color: #6149d7;
}
.sh-doctor {
    color: #6149d7;
}
.sh-patient {
    color: palevioletred;
}
.rbc-event-data {
    //background: yellow;
    margin: 5px;
}
.rbc-event-label {
    display: none !important;
}
.event-big-content {
    font-size: 12px;
    padding: 10px;
    border: solid 1px purple;
    border-radius: 5px;
    box-shadow: 2px -3px 31px 0px rgba(60,21,204,0.46);
    -webkit-box-shadow: 2px -3px 31px 0px rgba(60,21,204,0.46);
    -moz-box-shadow: 2px -3px 31px 0px rgba(60,21,204,0.46);
}
.sh-event-status {
    position: absolute;
    top: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
.rbc-active {
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    background-color: #6149d7 !important;
    border-color: #6149d7 !important;
    color: #fff !important;
}