.css-ynh6fk .rs__cell.rs__time {
    z-index: 10 !important;
}

.css-1cpvlp1 {
    z-index: 10 !important;
}

.add-patient {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 10px;
    top: 32px;
    z-index: 44;
}

.scheduler-status {
    z-index: 99 !important;
}

.schedule-status-circle {
    border-color: white;
    border-width: 3px;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 5px;
    //background-color: palevioletred;
}

.css-1mrufi {
    z-index: 30 !important;
}

.patients-data {
    background: #fff;
    border-left-color: #29425e;
    border-width: 3px;
    border-top: solid 1px #d2cfcf;
    border-radius: 5px;
    border-bottom: solid 1px #d2cfcf;
    border-right: solid 1px #d2cfcf;
    width: 100%;
    height: 100px;

    img {
        height: 95px;
        width: auto;
        padding-left: 5px;
    }

    .icon-block {
        position: absolute;
        top: 0;
        right: 0;

        ul li {
            list-style: none;
            display: inline;
            margin-right: 20px;
        }
    }

    .tabs-block {
        position: absolute;
        right: 10px;
        bottom: 10px;

        li {
            list-style: none;
            display: inline;
            padding-right: 10px;
            padding-left: 10px;
            font-size: 14px;
            padding-bottom: 11px;
            cursor: pointer;
        }

        li.active {
            border-bottom: solid 4px;
            border-color: #29425e;
        }
    }
}

.me-2 {
    white-space: nowrap;
    padding-bottom: 10px;
}

.sh-p-tabs {
    max-width: 1000px;
    min-width: 100%;
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    margin-bottom: 10px;
    scrollbar-color: #d5c2f1 #e8e5e0;
    scrollbar-width: thin;
}

.sh-p-tabs a {
    color: #0a3622;
    display: inline-block;
    padding: 8px;
    background: #f3ecfd;
    border-radius: 4px 4px 0 0;
    font-size: 12px;
}

.rbc-btn-group {
    font-size: 12px;
    font-weight: bold;
}

.date-picker {
    font-size: 12px;
    background: #fff;
    border-color: #d5c2f1;
    padding: 4px;
    border-radius: 4px;
}

.rbc-timeslot-group {
    min-width: 78px;
}

.rbc-time-slot {
    text-align: center !important;
    font-weight: bold !important;
    font-size: 13px;
}

.disabled-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: palevioletred;
    z-index: 80;
}

.form-scheduler {
    position: fixed;
    top: 15%;
    left: 29%;
    border-radius: 5px;
    //background: palevioletred;
    z-index: 20;
    min-width: 610px;
    min-height: 560px;
}

.rbc-event {
    font-size: 12px;
    padding: 0 !important;
}

.rbc-toolbar-label,
.rbc-button-link {
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    color: #5b28e3;
}

.manipulation {
    color: #424d71;
    cursor: pointer;
}

.add-services {
    color: #424d71;
    display: flex;
    font-weight: 700;
    margin-bottom: 10px;
}

.bg-price {
    height: 300px;
    max-height: 300px;
}

.price-container {
    margin-bottom: 30px;
}

.add-minpulation-row {
    cursor: pointer;
}

.add-minpulation-row.selected .price-row {
    background: #032f62;
    color: #fff;
}

.d-patient-list {
    font-size: 13px;
    background: #ecf8f8;
    position: absolute;
    width: 100%;
    z-index: 999;
    border: solid 1px #0ea5a4;
    top: 68px;
    padding: 5px;

    li {
        padding-bottom: 4px;
        padding-left: 10px;
        cursor: pointer;
        color: #0ea5a4;
        font-weight: 600;
    }
}

.hover-event-popup {
    background: #fff;
    font-size: 12px;
    text-align: left;
}

.hover-event-title {
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    color: #6149d7;
}

.sh-doctor {
    color: #6149d7;
}

.sh-patient {
    color: palevioletred;
}

.rbc-event-data {
    padding: 0px;
    width: 100%;
    flex: 1 1 0;
    word-wrap: break-word;
    line-height: 1;
    height: 100%;
    min-height: 1em;
}

.sch-time {
    padding-left: 5px;
    padding-top: 4px;
    display: inline-block;
    color: #9b0660;
    font-weight: bold;
}

.rbc-event-label {
    display: none !important;
}

.event-big-content {
    font-size: 12px;
    padding: 10px;
    border: solid 1px purple;
    border-radius: 5px;
    box-shadow: 2px -3px 31px 0px rgba(60, 21, 204, 0.46);
    -webkit-box-shadow: 2px -3px 31px 0px rgba(60, 21, 204, 0.46);
    -moz-box-shadow: 2px -3px 31px 0px rgba(60, 21, 204, 0.46);
}

.sh-event-status {
    position: absolute;
    top: 3px;
    right: 3px;
    //border-radius: 50%;
    width: 13px;
    height: 13px;
}

.sch-title {
    background: #e8e8de;
    padding: 2px 0;
}

.rbc-btn-group .rbc-active {
    background-color: #0ea5a4 !important;
    color: #fff !important;
}
.rbc-header .rbc-button-link{
    color:#1e293b !important;
}

.sch_tooltip {
    background-color: white;
    position: absolute;
    z-index: 100;
    /* width: 390px; */
    width: 380px;
    //height: 220px;
    /* border: 1px solid #cfcfcf; */
    border-radius: 7px !important;
    box-shadow: 1px 2px 7px 3px rgba(0, 0, 0, 0.15);
    padding: 10px;
    top: 200px;
    left: 300px;
    display: none;
}

.sch_tooltip .sch_arrow.left {
    left: 11px;
    top: 15px;
}

.sch_tooltip .sch_arrow {
    position: absolute;
    display: none;
    width: 0;
    height: 0;
    //margin-left: -11px;
    min-height: 190px;
    box-sizing: border-box;
    border: 7px solid black;
    border-color: transparent transparent white white;
    transform-origin: 0 0;
    box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.1);
    top: 200px;
    left: 30px;
    //transform: rotate(-45deg);
}


.sch_tooltip {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    width: 380px;
    /* Фиксированная ширина поповера */
    min-height: 200px;
    z-index: 1000;
    /* Поверх других элементов */
}

.sch-content {
    padding: 10px;
    font-size: 14px;
}


/* Для стрелки, если поповер сверху (указывает вниз) */
.sch_arrow.down {
    transform: rotate(225deg);
    /* Поворот для указания вниз */
}

.arrow-left {
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    bottom: -15px;
    left: 10%;
    //box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.6);
}

.arrow-right {
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    bottom: -15px;
    right: 10%;
    //box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.6);
}

.p-cabinet {
    font-weight: bold;
    color: #5a20da;
}

.p-doctor {
    font-weight: bold;
    color: #9b180d;
}

.p-balance.red {
    color: red;
}

.sch-services {
    min-height: 50px;
    height: 100px;
    overflow: hidden;
    overflow-y: scroll;
    background: lightblue;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.sch-tabs {
    width: 100%;

    ul {
        width: 100%;

        li {
            width: 25%;
            text-align: center;
        }
    }
}

.event-close {
    background: url(../../images/action-icons/close.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 13px;
    height: 13px;
    display: inline-block;
    position: absolute;
    right: 15px;
    cursor: pointer;
}

.sh-discount {
    font-weight: bold;
    color: #b90808;
    font-style: normal;
}

.service-item em {
    font-style: normal;
    font-size: 11px;
    display: block;
    margin-bottom: 2px;
    overflow: hidden;
    width: 100px;
    white-space: nowrap;
}

.sh-p-view {
    border: solid 1px;
    border-color: rgb(209, 213, 219);
    border-radius: 4px;
    padding: 8px 10px 8px 10px;
    font-size: 14px;
}

.text-discount {
    color: #f76ab0;
    font-weight: bold;
    float: right;
    position: absolute;
    right: 8px;
    top: 29px;
}

.sh-discount {
    color: #f76ab0;
    font-size: 11px;
    font-weight: bolder;
}

.shc-form-date {
    min-width: 120px;
    width: 245px;
    border-radius: 4px;
    float: left;
    margin-right: 10px;
    border-color: #D8DEE8;;
    background-color: transparent;
    color: #475569;
}

.f-calendar {
    background: url(../../images/action-icons/calendar.svg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    position: absolute;
    top: 34px;
    right: 41px;
}

.f-clock {
    background: url(../../images/action-icons/clock.svg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    position: absolute;
    top: 34px;
    right: 41px;
}

.rbc-today {
    background-color: #ecf8f8 !important;
}

.rbc-timeslot-group {
    // background-color: transparent !important;
    min-height: 64px !important;

}

// .rbc-time-slot {
//     background-color: #000 !important;
//     color: #fff;
// }
.rbc-button-link {
    color: #fff !important;
}

.rbc-day-slot .rbc-time-slot {
    border-top: 1px solid #989393 !important;
}

.rbc-current-time-indicator {
    background-color: #ec0d27 !important;
    height: 2px !important;
}

.rbc-timeslot-group {
    border-bottom: none !important;
}

.sh-d-select {
    background-color: transparent !important;
}

.rbc-time-header-gutter {
    background-color: transparent !important;
}

.rbc-time-gutter .rbc-timeslot-group {
    background-color: #ecf8f8;
    color: #0ea5a4;
}

.rbc-time-gutter .rbc-time-slot {
    border-bottom: solid 1px #ecf8f8;
}

.rbc-time-content {
    border-top: solid 1px #0ea5a4 !important;
}
.rbc-row-resource .rbc-header {
    color:#fff;
    background: #475569;
    min-height: 35px !important;
    padding-top: 5px !important;
}

.rbc-timeslot-group .rbc-time-slot:last-child {
    border-bottom: 1px solid #0ea5a4;
}
.rbc-day-slot .rbc-time-slot {
    border-top: dotted 1px #b3b4b9 !important;
}

.scheduler-popup {
    @apply px-5 max-h-[75vh] form-scheduler bg-white overflow-y-auto;
    -webkit-box-shadow: -1px -1px 26px 0px rgba(197, 204, 204, 0.75);
    width: 850px;
    max-width: 850px;
    left: 23% !important;
}

.rbc-btn-group {
    //@apply bg-gradient-to-r from-[#b44dd6] to-[#7974e3];
    //background: #ecf8f8;
    //border:solid 1px #0ea5a4;
    color: #fff;
}

.rbc-toolbar button {
    color: rgb(14, 165, 164) !important;
    background: #ecf8f8 !important;
    border:solid 1px #0ea5a4 !important;
}

.sh-d-select {
    //background-color: #032f62 !important;
    z-index: 9999;
}

.css-cwtq7d-control {
    background-color: #000 !important;
    color: #fff;
}

.rbc-toolbar-label {
    color: #fff !important;
}

.rbc-time-header-content {
    color: #fff !important;
}
.scheduler-popup #comment {
    color: #fff;
}
.rbc-time-header .rbc-time-header-gutter{
    min-width: 79px !important;
}
// .css-hlgwow div {
//     background-color: #000 !important;
//     color: #fff;
// }


.services-selector{

    display:grid;

    grid-template-columns:260px 1fr;

    gap:24px;

    margin-top:24px;

    background:#fff;

    border-radius:22px;

    border:1px solid #E7EEF5;

    box-shadow:0 20px 50px rgba(15,23,42,.06);

    overflow:hidden;
}
.service-categories{
    background:#F8FAFC;
    padding:10px;
    border-right:1px solid #EEF2F7;
    height:320px;
    width: 290px;
    overflow-y:auto;
}
.services-title{
    font-size:15px;
    font-weight:700;
    color:#64748B;
    margin-bottom:18px;
    text-transform:uppercase;
    letter-spacing:.08em;
    margin-left: 15px;
}
.category-btn{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 7px 8px;
    margin-bottom:10px;
    border:none;
    border-radius:14px;
    background:transparent;
    cursor:pointer;
    transition:.2s;
    color:#334155;
    font-weight:500;
    font-size: 13px;
}

.category-btn:hover{
    background:#EEF8F7;
}

.category-btn.active{
    background:#14B8A6;
    color:white;
    box-shadow:0 10px 25px rgba(20,184,166,.25);
}
.category-btn span {
    font-size: 14px;
    text-align: left;
}
.category-count{
    min-width:28px;
    height:28px;
    border-radius:999px;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgba(255,255,255,.25);
    font-size:13px;
}
.services-panel{
    padding:8px;
    height:320px;
    overflow:auto;
}
.services-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:20px;
}
.service-search{

    width:260px;

    border:1px solid #E2E8F0;

    border-radius:12px;

    padding:10px 14px;

    outline:none;

    transition:.2s;
}

.service-search:focus{

    border-color:#14B8A6;

    box-shadow:0 0 0 4px rgba(20,184,166,.12);
}
.services-list{
    display:flex;
    flex-direction:column;
    gap:8px;
}
.service-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:7px 10px;
    border:1px solid #EEF2F7;
    border-radius:16px;
    cursor:pointer;
    transition:.2s;
}

.service-item:hover{

    transform:translateY(-2px);

    border-color:#14B8A6;

    box-shadow:0 10px 25px rgba(15,23,42,.08);
}
.service-item strong{
    display:block;
    font-size:15px;
    color:#0F172A;
}

.service-item span{

    color:#94A3B8;

    font-size:13px;
}
.service-right{

    text-align:right;
}

.service-right strong{
    color:#14B8A6;
    font-size:16px;
    font-weight:700;
}
.empty-services{

    display:flex;

    justify-content:center;

    align-items:center;

    height:220px;

    color:#94A3B8;

    font-size:15px;
}

.service-item{
    display:grid;
    grid-template-columns:1fr 70px 90px 42px;
    align-items:center;

    padding:14px 18px;

    border-radius:12px;

    transition:.2s;
}

.service-item:hover{
    background:#f8fbfd;
}


.services-list{
    flex:1;
    overflow-y:scroll;
    scrollbar-gutter: stable;
    display:flex;
    flex-direction:column;
    gap:8px;
    padding-right:6px;
    max-width: 505px;
    width: 505px;
    margin-left: 10px;
}
.service-item{
    display:grid;
    grid-template-columns:
        minmax(0,1fr)
        70px
        90px
        42px;
    align-items:center;
    gap:12px;
    min-height:58px;
    padding:0 18px;
    border:1px solid #edf2f7;
    border-radius:14px;
    background:white;
    transition:.18s;
    cursor:pointer;
}

.service-item:hover{

    border-color:#14b8a6;

    box-shadow:0 8px 22px rgba(20,184,166,.10);

    transform:translateY(-1px);
}
.service-name{
    overflow:hidden;
    //white-space:nowrap;
    text-overflow:ellipsis;
    font-size: 14px;
    color:#1e293b;
}
.service-duration{

    text-align:center;

    font-size:13px;

    color:#94a3b8;
}
.service-price{
    text-align:right;
    font-size:14px;
    color:#14b8a6;
    //white-space:nowrap;
    margin-left: -35px;
}
.service-add-btn{

    width:34px;

    height:34px;

    border:none;

    border-radius:50%;

    background:#ecfdf9;

    color:#14b8a6;

    font-size:22px;

    font-weight:500;

    cursor:pointer;

    transition:.2s;
}

.service-item:hover .service-add-btn{
    background:#14b8a6;
    color:white;
    transform:scale(1.08);
}

.selected-service{

    display:grid;

    grid-template-columns:
            minmax(0,1fr)
            120px
            90px
            40px;

    align-items:center;

    gap:18px;

    padding:14px 18px;

    margin-bottom:10px;

    background:#fff;

    border:1px solid #E8EEF5;

    border-radius:16px;

    transition:.2s;
}

.selected-service:hover{

    border-color:#14b8a6;

    box-shadow:0 8px 20px rgba(20,184,166,.08);
}
.service-title{

    font-size:15px;

    font-weight:600;

    color:#1E293B;

    white-space:nowrap;

    overflow:hidden;

    text-overflow:ellipsis;
}

.service-price-selected{
    margin-top:4px;
    font-size:13px;
    color:#94A3B8;
}
.service-actions{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:10px;
}

.qty-btn{

    width:30px;

    height:30px;

    border:none;

    border-radius:10px;

    background:#F1F5F9;

    color:#475569;

    font-size:18px;

    cursor:pointer;

    transition:.2s;
}

.qty-btn:hover{

    background:#14b8a6;

    color:white;
}

.qty-value{

    min-width:28px;

    text-align:center;

    font-weight:700;
}
.service-total{
    text-align:right;
    font-size:16px;
    font-weight:700;
    color:#14b8a6;
    white-space:nowrap;
}
.delete-btn{

    width:34px;

    height:34px;

    border:none;

    border-radius:10px;

    background:#FEF2F2;

    color:#EF4444;

    cursor:pointer;

    transition:.2s;
}

.delete-btn:hover{

    background:#EF4444;

    color:white;
}
.selected-services-block {
    max-height: 200px;
    overflow-y: scroll;
    margin-bottom: 20px;
}
.patient-dropdown {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    right: 0;

    background: #fff;
    border: 1px solid #d9e4f4;
    border-radius: 18px;

    box-shadow:
            0 20px 45px rgba(18, 38, 63, .12),
            0 8px 20px rgba(18, 38, 63, .06);

    max-height: 360px;
    overflow-y: auto;

    z-index: 100;
    padding: 8px;
}

.patient-item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 14px;

    padding: 12px 14px;

    border: none;
    background: transparent;
    border-radius: 14px;

    cursor: pointer;

    transition: .18s;
}

.patient-item:hover {
    background: #f4fbff;
}

.patient-avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: linear-gradient(135deg,#14b8a6,#116aef);
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-shrink:0;
}
.patient-avatar-sch {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: linear-gradient(135deg,#14b8a6,#116aef);
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-shrink:0;
}
.patient-sch-meta {

}

.patient-info{
    flex:1;
    min-width:0;
}

.patient-name{
    font-size:17px;
    font-weight:600;
    color:#1f2a44;
}

.patient-sch-meta{
    margin-top:-10px;
    font-size:13px;
    color:#8b97ad;
}

.patient-arrow{
    color:#b8c3d5;
    transition:.2s;
}
.sch-status {
    @apply inline-block w-[15px] h-[15px] border mr-[5px];
    border-radius: 50%;
    color: #000a22 !important;
    margin-top: 3px;
}
.sch-status-text {
    @apply text-center inline-flex;
    font-size: 14px;
    color: #000a22 !important;

}

.patient-item:hover .patient-arrow{
    color:#14b8a6;
    transform:translateX(3px);
}

.patient-empty{
    padding:35px;
    text-align:center;
    color:#9aa6bc;
}
.patient-item{
    all: unset;

    box-sizing: border-box;

    width:100%;

    display:flex !important;
    align-items:center;
    gap:16px;

    padding:7px 9px !important;

    border-radius:14px;

    cursor:pointer;

    transition:.18s;
}

.patient-item:hover{
    background:#f4fbff;
}
.patient-dropdown{
    box-sizing:border-box;
}
.patient-select{
    position:relative;
}

.scheduler-status-block{
    width:260px;
    padding:8px;
    margin:0;
    list-style:none;
    background:#fff;
    border-radius:18px;
    border:1px solid #e7eef8;
    z-index: 999;
    //box-shadow:
    //        0 20px 45px rgba(18,38,63,.12),
    //        0 8px 20px rgba(18,38,63,.06);
}

.scheduler-status-item{
    display:flex;
    align-items:center;
    gap:14px;
    padding:12px 14px;
    border-radius:12px;
    cursor:pointer;
    transition:.18s;
    font-size: 14px;
}

.scheduler-status-item:hover{
    background:#f4fbff;
}

.status-dot{
    width:12px;
    height:12px;

    border-radius:50%;

    flex-shrink:0;

    box-shadow:0 0 0 4px rgba(20,184,166,.08);
}


.status-title{
    font-size:15px;
    font-weight:500;
    color:#25324b;
    flex:1;
}

.scheduler-status-item:hover .status-title{
    color:#14b8a6;
}

.calendar-event{

    position:absolute;
    left:4px;
    right:4px;

    background:#fff;

    border-radius:12px;
    border-left:4px solid;

    padding:8px 10px;

    display:flex;
    flex-direction:column;

    overflow:hidden;

    box-shadow:
            0 8px 18px rgba(15,23,42,.08),
            0 2px 6px rgba(15,23,42,.04);

    cursor:grab;

    transition:.18s;
}

.calendar-event:hover{

    transform:translateY(-1px);

    box-shadow:
            0 12px 26px rgba(15,23,42,.12);
}

.calendar-event:active{

    cursor:grabbing;
}

.calendar-event-header{

    display:flex;

    align-items:center;

    gap:8px;
}

.calendar-event-status{

    width:8px;
    height:8px;

    border-radius:50%;

    flex-shrink:0;
}

.calendar-event-patient{

    flex:1;

    font-size:13px;

    font-weight:700;

    color:#172033;

    white-space:nowrap;

    overflow:hidden;

    text-overflow:ellipsis;
}

.calendar-event-price{

    font-size:11px;

    font-weight:700;

    color:#14b8a6;
}

.calendar-event-service{

    margin-top:5px;

    font-size:12px;

    color:#64748b;

    white-space:nowrap;

    overflow:hidden;

    text-overflow:ellipsis;
}

.calendar-event-footer{

    margin-top:auto;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding-top:6px;
}

.calendar-event-time{

    font-size:11px;

    color:#94a3b8;

    font-weight:600;
}

.calendar-event-duration{

    font-size:11px;

    color:#94a3b8;
}

.calendar-event.compact{

    padding:6px 8px;
}

.calendar-event.compact
.calendar-event-header{

    margin-bottom:0;
}

.calendar-event.compact
.calendar-event-patient{

    font-size:12px;
}

.calendar-event.compact
.calendar-event-time{

    margin-top:2px;

    font-size:10px;
}

.calendar-event-resize{

    position:absolute;

    left:0;
    right:0;
    bottom:0;

    height:8px;

    cursor:ns-resize;

    transition:.15s;
}

.calendar-event-resize:hover{

    background:rgba(20,184,166,.15);
}


.calendar-event{
    position:absolute;
    background:#fff;
    border-radius:12px;
    box-shadow:0 4px 12px rgba(16,24,40,.10);
    overflow:visible;
    cursor:move;
    transition:.18s;
}

.calendar-event:hover{
    box-shadow:0 10px 25px rgba(16,24,40,.18);
    transform:translateY(-1px);
}

.calendar-event-body{
    padding:4px 5px;
    height:100%;
    display:flex;
    flex-direction:column;
}

.calendar-event-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:5px;
}

.calendar-event-patient{
    font-weight:700;
    color:#1f2937;
    font-size:13px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.calendar-event-price{
    color:#0ea5a4;
    font-weight:700;
    font-size:12px;
    margin-left:8px;
}

.calendar-event-services{
    flex:1;
}

.calendar-event-service{
    font-size:12px;
    color:#475569;
    margin-bottom:3px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.calendar-event-more{
    display:inline-flex;
    align-items:center;
    gap:6px;

    padding:3px 8px;

    background:#eef7ff;

    color:#3b82f6;

    border-radius:20px;

    font-size:11px;

    cursor:default;

    position:relative;
}

.calendar-event-footer{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:auto;

    font-size:11px;
    color:#64748b;
}

.calendar-event-time{
    display:flex;
    align-items:center;
    gap:4px;
}

.calendar-event-duration{
    font-weight:600;
}

.calendar-event.compact .calendar-event-body{
    justify-content:center;
}

.calendar-event.compact .calendar-event-footer{
    display:none;
}

.calendar-event.compact .calendar-event-price{
    display:none;
}
.calendar-services-popup{

    position:absolute;

    left:0;
    top:calc(100% + 8px);

    width:260px;

    background:white;

    border-radius:14px;

    padding:14px;

    box-shadow:
            0 20px 50px rgba(0,0,0,.18);

    opacity:0;

    visibility:hidden;

    transform:translateY(8px);

    transition:.18s;

    z-index:9999;

    pointer-events:none;
}

.hover-target:hover .calendar-services-popup{

    opacity:1;

    visibility:visible;

    transform:translateY(0);

}
.popup-title{

    font-weight:700;

    margin-bottom:10px;

    color:#0f172a;

}

.popup-service{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:6px 0;

    font-size:13px;

    border-bottom:1px solid #eef2f7;

}

.popup-total{

    display:flex;

    justify-content:space-between;

    margin-top:10px;

    padding-top:10px;

    border-top:2px solid #eef2f7;

    font-weight:700;

}
.services-popover {
    position: absolute;
    z-index: 9999;
    display: none;
    width: 540px;
    max-width: 340px;

    background: #fff;
    border-radius: 18px;

    padding: 18px;

    border: 1px solid #edf2f8;

    box-shadow:
            0 18px 45px rgba(16,24,40,.14),
            0 6px 18px rgba(16,24,40,.08);
}
.calendar-event-more:hover .services-popover {
    opacity: 1;
    display: block;

    pointer-events: auto;

    transform: translateY(0);
}

.services-popover-title{
    font-size:20px;
    font-weight:700;
    color:#1f2937;

    margin-bottom:14px;
}

.services-popover-list{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.services-popover-item{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;

    gap:16px;

    padding:10px 0;

    border-bottom:1px solid #eef2f7;
}

.services-popover-item:last-child{
    border-bottom:none;
}

.services-popover-name{
    flex:1;

    color:#334155;
    font-size:15px;
    line-height:1.4;

    word-break:break-word;
}

.services-popover-price{
    flex-shrink:0;

    font-weight:700;
    color:#14b8a6;
}

.services-popover-total{
    margin-top:16px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding-top:14px;

    border-top:2px solid #edf2f7;

    font-size:17px;
    font-weight:700;
}

.service-dot{
    width:8px;
    height:8px;
    border-radius:50%;
    background:#14b8a6;
    margin-top:7px;
    flex-shrink:0;
}


.calendar-preview{

    position:fixed;

    width:340px;

    background:white;

    border-radius:18px;

    padding:18px;

    border:1px solid #edf2f7;

    box-shadow:
            0 18px 45px rgba(15,23,42,.14),
            0 8px 20px rgba(15,23,42,.08);

    z-index:999999;

    animation:previewIn .15s ease;
}

@keyframes previewIn{

    from{

        opacity:0;

        transform:translateY(6px);

    }

    to{

        opacity:1;

        transform:none;

    }

}

.calendar-preview-title{
    font-size:17px;
    font-weight:700;
    color:#1f2937;
    margin-bottom:12px;
    display: inline-block;
}
.calendar-preview-cab-title{
    font-size:15px;
    font-weight:500;
    color: #0ea5a4;
    margin-bottom:12px;
    display: inline-block;
    text-align: right;
}
.calendar-doctor {
    color: #1f2937;
    display: block;
    font-size: 13px;
}
.calendar-preview-price{
    font-size:15px;
    font-weight:500;
    color:#14b8a6;
    margin-bottom:16px;
}

.calendar-preview-subtitle{
    font-size:13px;
    color:#94a3b8;
    margin-bottom:12px;
    display: block;
}

.calendar-preview-list{
    display:flex;
    flex-direction:column;
}
//
//.calendar-preview-item{
//    display:flex;
//    justify-content:space-between;
//    align-items:flex-start;
//    border-bottom:1px solid #930568;
//    padding-bottom:0;
//    background: lightblue;
//}
.calendar-preview-item{
    display:flex;
    justify-content:space-between;
    align-items:center;   /* вместо flex-start */
    gap:12px;

    padding:8px 0;

    border-bottom:1px solid #edf2f7;
}
.calendar-preview-item:last-child{
    border-bottom:none;
}

.calendar-preview-item span{
    flex:1;
    font-size:14px;
    color:#334155;
    line-height:1.1;
    //background: yellow;
}

.calendar-preview-item strong{
    color:#0ea5a4;
    white-space:nowrap;
    //background: palevioletred;
}

.calendar-preview-footer{
    margin-top:14px;
    padding-top:14px;
    //border-top:2px solid #edf2f7;
    display:flex;
    justify-content:space-between;
    font-size:14px;
    font-weight:700;
}
.calendar-preview-item span{
    flex:1;
    min-width:0;

    font-size:14px;
    line-height:1.35;
    color:#334155;
}

.calendar-preview-item strong{
    flex-shrink:0;

    color:#0ea5a4;
    font-weight:700;
    white-space:nowrap;
}
.service-pr-name, .service-pr-price {
    font-size: 14px;
    color: #334155;
}
.service-pr-price {
    color:#0ea5a4;
    white-space: nowrap;
}

.preview-table {
    border-collapse: collapse;
    width: 100%;
}
.preview-table td {
    vertical-align: top;
    line-height: 1.1;
    padding-top: 8px;
    padding-bottom: 7px;
    border-bottom: solid 1px #edf2f7;
}
.calendar-preview-item:last-child{
    border-bottom:none;
}
.edit-scheduler-popup {
    z-index: 9999;
}