.data-table {
    @apply min-w-full text-left text-sm/6;
}
.data-table thead {
    @apply text-white;
}
.data-table th {
    @apply border-b border-b-zinc-950/10 px-4 py-3 font-medium
        first:pl-[var(--gutter,theme(spacing.2))]
        last:pr-[var(--gutter,theme(spacing.2))]
        dark:border-b-white/10 sm:first:pl-1 sm:last:pr-1;
    font-size: 14px;
    background-color: #4a588e;
}

.data-table td {
    @apply relative px-4 first:pl-[var(--gutter,theme(spacing.2))]
        last:pr-[var(--gutter,theme(spacing.2))] border-b border-zinc-950/5
        dark:border-white/5 py-4 sm:first:pl-1 sm:last:pr-1;
    color: #fff;
    border-color: #4a588e;
}

//.text-orange-700 {
//    color: #746079 !important;
//}
.hscroll {
    overflow-x: auto; /* Horizontal */
}
.percent-tbl {
    color: green;
    font-weight: bold;
    font-size: 14px;
}

.table{
    border: 1px solid #eee;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 20px;
}
.table th {
    font-weight: bold;
    padding: 12px 15px;
    background: #efefef;
    border: 1px solid #dddddd;
    font-size: 14px;
}

.table td{
    padding: 12px 15px;
    border: 1px solid #eee;
    text-align: left;
    font-size: 14px;
}
.table tbody tr:nth-child(odd){
    background: #fff;
}
.table tbody tr:nth-child(even){
    background: #F7F7F7;
}
.table tbody .tqty, .table thead .tqty {
    text-align: right;
}
.a-right {
    text-align: right !important;
}

.inner-table {
    border: 1px solid #ddd;
    width: 100%;
    margin: 10px 0;
    font-size: 12px;
}
.inner-table th {
    font-weight: bold;
    padding: 3px 5px;
    background: #f5f5f5;
    border: 1px solid #ddd;
    font-size: 11px;
}
.inner-table td {
    padding: 3px 5px;
    border: 1px solid #eee;
    text-align: left;
    font-size: 11px;
}
.inner-table tbody tr:nth-child(odd) {
    background: #fafafa;
}
.inner-table tbody tr:nth-child(even) {
    background: #fff;
}

.act-payment-tbl {
    border: 1px solid #ddd;
    font-size: 14px;
}
.act-payment-tbl th {
    border-bottom-width: 1px;
    border-left: 1px solid #dddddd;
    padding: 5px 10px;
}
.act-payment-tbl tbody th, .act-payment-tbl tbody td {
    border-bottom-width: 1px;
    border-left: 1px solid #dddddd;
}
.act-payment-tbl td {
    padding: 5px 10px;
    vertical-align: middle;
    line-height: 16px;
}
.act-payment-tbl .sep {
    background-color: #eeeeee !important;
    border-top: none !important;
    /* border-bottom: none !important; */
    border-bottom: 1px solid #eeeeee !important;
    width: 6px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.act-payment-tbl .icon-btn {
    display: inline-block;
    background: #7608ad;
    color: white;
    border-radius: 5px;
    width: 23px;
    height: 23px;
}
.red-btn {
    background: #ec0580 !important;
}
.invoice-table th {
    font-size: 14px;
}
.invoice-table .w-qty {
    max-width: 160px;
}
.pagination-title {
    @apply text-sm text-white font-medium;
}